<div class="container">
    <div class="mb-3">
        <div class="row">
            <div class="col mt-5">
                <div class="card mb-3">

                    <div class="card">
                        <div class="row align-items-start m-0">
                            <div class="card col-5 bg-success text-center pt-5 pb-5">
                                <p class="m-4">PUNCHIFY</p>
                            </div>
                            <div class="col-7">
                                <p>Date de naissance: {{moment profilBoxer.birthdate format="DD/MM/YYYY"}}</p>
                                <p>Catégorie: {{profilBoxer.category}}</p>
                                <p>Poids: {{profilBoxer.weight}} kg</p>
                                <p>Taille: {{profilBoxer.size}} cm</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="row align-items-start m-3">
                        <div class="col-5" style="height: 100px; background-image: ../assets/images/logo.jpg;">
                            <img src="../assets/images/logo.jpg" alt="">
                        </div>
                        <div class="col-7">
                            <p>Nom: {{profilBoxer.lastname}}</p>
                            <p>Prénom: {{profilBoxer.firstname}}</p>
                            <p>Numéro: {{profilBoxer.phone}}</p>
                            <p>Adresse: {{profilBoxer.address_number}} {{profilBoxer.address_wording}},
                                {{profilBoxer.postal_code}} {{profilBoxer.city}}</p>
                            <!-- Button trigger modal -->
                            <div class="col">
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-success m-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="col mt-5">
                <div class="alert alert-secondary">
                    <div class="container-fluid">
                        <p>NOTIFICATION</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            {{moment format="DD/MM/YY"}} {{moment format="HH:mm"}}
                        </div>
                    </div>
                    <div class="container-fluid">
                        <p>{{event_wording}} le {{date_start}} à {{time_start}}.</p>
                        <p>Adresse: {{place_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de modification -->
    <div class="modal fade" id="exampleModal{{profilBoxer.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier mes informations</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="/profil/boxer/{{profilBoxer.id_adherent}}" method="post">

                        <label for="numero" class="form-label">Numéro</label>
                        <input name="numero" type="text" class="form-control" id="numero" placeholder="numero"
                            value="{{profilBoxer.phone}}">

                        <label for="adresse" class="form-label">Adresse</label>
                        <input name="number" type="text" class="form-control" id="adresse"
                            value="{{profilBoxer.address_number}}">
                        <input name="street" type="text" class="form-control" id="adresse"
                            value="{{profilBoxer.address_wording}} {{profilBoxer.postal_code}} {{profilBoxer.city}}">
                        <input name="postalCode" type="text" class="form-control" id="adresse" placeholder="adresse"
                            value="{{profilBoxer.postal_code}}">
                        <input name="city" type="text" class="form-control" id="adresse" value="{{profilBoxer.city}}">

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-danger">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>