<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
<<<<<<< HEAD
            <h1 class="text-center mt-5 mb-5 bg-secondary text-dark p-1 rounded-4 fs-3">Gestion des catégories de poids</h1>
=======
            <h1 class="text-center mt-5 mb-5 bg-primary p-1 rounded-4 fs-3">Gestion des catégories de poids</h1>
>>>>>>> dc26be2b771865a997db1627b63cf2d258d5681a
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th scope="col" class="w-50">Catégorie de poids</th>
                        <th scope="col" class="text-center">Poids mini</th>
                        <th scope="col" class="text-center">Poids maxi</th>
                        <th scope="col" class="text-center">Modifier</th>
                        <th scope="col" class="text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each team}}
                    <tr>
                        <td scope="row">{{team_wording}}</td>
                        <td scope="row" class="text-center">{{weight_min}}</td>
                        <td scope="row" class="text-center">{{weight_max}}</td>
                        <td class="text-center">
                            <a href="" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#updateModal{{id_team}}">Modifier</a>
                        </td>
                        <!-- Modal modifier la catégorie de poids -->
                        <div class="modal fade" id="updateModal{{id_team}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modification d'une catégorie de poids</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/team/update/{{id_team}}" method="post">
                                            <label for="team_wording_update" class="mb-1">Catégorie de poids</label>
<<<<<<< HEAD
                                            <input class="form-control w-100 mb-2" type="text" name="team_wording_update"
                                            id="team_wording_update" value="{{team_wording}}">
                                            <label for="weight_min_update" class="mb-1">Poids mini</label>
                                            <input class="form-control w-100 mb-2" type="number" step="any" name="weight_min_update"
                                            id="weight_min_update" value="{{weight_min}}">
                                            <label for="weight_maxi_update" class="mb-1">Poids maxi</label>
                                            <input class="form-control w-100 mb-2" type="number" step="any" name="weight_max_update"
=======
                                            <input class="w-100 mb-2" type="text" name="team_wording_update"
                                            id="team_wording_update" value="{{team_wording}}">
                                            <label for="weight_min_update" class="mb-1">Poids mini</label>
                                            <input class="w-100 mb-2" type="number" step="any" name="weight_min_update"
                                            id="weight_min_update" value="{{weight_min}}">
                                            <label for="weight_maxi_update" class="mb-1">Poids maxi</label>
                                            <input class="w-100 mb-2" type="number" step="any" name="weight_max_update"
>>>>>>> dc26be2b771865a997db1627b63cf2d258d5681a
                                            id="weight_max_update" value="{{weight_max}}">
                                    </div>
                                    <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-success btn-sm">Modifier</button>
                                            <button type="button" class="btn btn-secondary btn-sm"
                                            data-bs-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Modal modifier la catégorie de poids-->
                        <td class="text-center">
                            <a href="" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{id_team}}">Supprimer</a>
                        </td>
                        <!-- Modal supprimer la catégorie de poids -->
                        <div class="modal fade" id="deleteModal{{id_team}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Suppression de la catégorie de poids <span class="fw-bold fst-italic">{{team_wording}}</span></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Etes-vous sûr de vouloir supprimer cette catégorie de poids ?
                                    </div>
                                    <div class="modal-footer">
                                        <form action="/team/delete/{{id_team}}" method="post">
                                            <button type="submit" class="btn btn-outline-success btn-sm">Supprimer
                                                définitivement</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Modal supprimer la catégorie de poids -->
                    </tr>
                    {{/each}}
                    <tr>
                        <form action="/team/create" method="post">
                            <td scope="row">
<<<<<<< HEAD
                                <input class="form-control w-100" type="text" name="team_wording" id="team_wording">
                            </td>
                             <td scope="row">
                                <input class="form-control w-100" type="number" step="any" name="weight_min" id="weight_min">
                            </td>
                             <td scope="row">
                                <input class="form-control w-100" type="number" step="any" name="weight_max" id="weight_max">
=======
                                <input class="w-100" type="text" name="team_wording" id="team_wording">
                            </td>
                             <td scope="row">
                                <input class="w-100" type="number" step="any" name="weight_min" id="weight_min">
                            </td>
                             <td scope="row">
                                <input class="w-100" type="number" step="any" name="weight_max" id="weight_max">
>>>>>>> dc26be2b771865a997db1627b63cf2d258d5681a
                            </td>
                            <td colspan=2 class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-sm">Ajouter</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>